.technical-color {
  color: #ff66b2;
}

.story-color {
  color: #ffb266;
}

.essay-color {
  color: #66f
}

.align-r {
  text-align: right;
  display: inherit;
}

.dim-color {
  opacity: .4;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
}
