.base-color {
  color: #333;
}

.align-r {
  text-align: right;
  display: inherit;
}

.dim-color {
  opacity: .4;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
}
