<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title | downcase }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% if page.layout == 'post' %}
      <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">
    {% endif %}
  </head>
  <body>
    <main>
      <h1 class="center">{{ page.title | downcase }}</h1>
      {% include navigation.html %}
      {{ content }}
    </main>
  </body>
</html>
